<form>
    <div>
        <h3>{{localize "REGIONS.CUSTOM_TAG.Name"}}</h3>
        <input type="text" name="custom-resource-name" value="{{resourceName}}" tabindex="0" />
        <hr />
        <h3>{{localize "REGIONS.CUSTOM_TAG.Type"}}
            <select name="custom-resource-type" {{disabled disabled}} tabindex="0">
                {{selectOptions resourceTypes selected=resourceType localize=true}}
            </select>
        </h3>
        {{#if showResourceLimit }}
        <hr />
        <h3>{{localize "REGIONS.CUSTOM_TAG.Limit"}}</h3>
        <label>{{localize "REGIONS.CUSTOM_TAG.Limit-Hint"}}</label>
        <input type="number" name="custom-resource-limit" value="{{resourceLimit}}" tabindex="0" />
        {{/if}}
        {{#if showListOptions }}
        <hr />
        <div class="custom-resource-options">
            {{#if (eq resourceType 'LIST')}}
            <div>
                <input type="text" name="custom-resource-new-option" value="{{customResourceNewName}}" placeholder="{{localize "REGIONS.CUSTOM_TAG.New_Option"}}" tabindex="0"/>
                <button data-action="new-option"><i class="fas fa-plus"></i></button>
            </div>
            <ul>
                {{#each resourceOptions}}
                <li>
                    <input type="text" name="custom-resource-option-{{id}}" value="{{value}}" tabindex="0"/><button data-action="delete-option" data-id="{{id}}"><i class="fas fa-trash"></i></button></label>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <label>{{localize "REGIONS.CUSTOM_TAG.LeftAndRightLabel"}}</label>
            <div>
                {{#each resourceOptions}}
                <input type="text" name="custom-resource-option-{{id}}" value="{{value}}" tabindex="0"/>
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{/if}}
        <hr />
        <h3>{{localize "REGIONS.CUSTOM_TAG.DefaultValue"}}</h3>
        {{#if (eq resourceType "TEXT")}}
        <textarea name="custom-default-value" tabindex="0">{{defaultValue}}</textarea>
        {{/if}}
        {{#if (eq resourceType "NUMERIC")}}
        <input name="custom-default-value" type="number" max="{{resourceLimit}}" value="{{defaultValue}}" tabindex="0" />
        {{/if}}
        {{#if (eq resourceType "LIST")}}
        <select name="custom-default-value" tabindex="0">
            <option value="">{{localize "REGIONS.CUSTOM_TAG.None"}}</option>
            {{selectOptions resourceOptions selected=defaultValue localize=false labelAttr="value" valueAttr="id"}}
        </select>
        {{/if}}
        {{#if (eq resourceType "TOGGLE")}}
        <input name="custom-default-value" type="checkbox" {{checked defaultValue}} tabindex="0" />
        {{/if}}
        {{#if (eq resourceType "COUNTER")}}
        {{#each resourceSteps as |step stepKey|}}
        <input type="radio" class="regionsCustomCounter" data-action="custom-counter-adjust" data-id="{{../id}}" data-step="{{stepKey}}" {{checked step}}>
        {{/each}}
        {{/if}}
        {{#if (eq resourceType "SLIDER")}}
        <input name="custom-default-value" type="range" min="0" max="{{resourceLimit}}" value="{{defaultValue}}" tabindex="0" />
        {{/if}}
    </div>
    <footer class="flexrow">
        <button type="button" name="cancel" data-action="cancel" alt="{{localize "Cancel"}}" tabindex="0"
            title="{{localize "Cancel"}}"><i class="far fa-times-circle"></i>{{localize "Cancel"}}</button>
        <button type="button" name="submit" data-action="submit" alt="{{localize "Submit"}}" tabindex="0"
            title="{{localize "Submit"}}"><i class="fas fa-check"></i>{{localize "Submit"}}</button>
    </footer>
</form>