{{#unless (eq sections 'list')}}
<div class="regionsDetailTabHeader">
    <!-- Add Existing Category Dropdown -->
    {{#if categories}}
    <label>
        {{localize "REGIONS.add-existing-category"}}
        <select data-change="add-existing-category" name="regionsExistingCategories">
            <option>{{localize "REGIONS.please-select"}}</option>
            {{selectOptions categories selected=value localize=false labelAttr="name" valueAttr="id"}}
        </select>
    </label>
    {{/if}}
    <span>
        <!-- Manage Categories -->
        <button data-action="manage-categories"><i class="fas fa-th-list"></i>{{localize "REGIONS.CATEGORY.manage"}}</button>
        {{#unless (eq createType "Compendium")}}
        <!-- Create New Document of this Type -->
        <button data-action="createDocument" data-type="{{createType}}"><i class="fas fa-plus"></i>{{localize localCreate}}</button>
        {{/unless}}
    </span>
</div>
<hr />
{{/unless}}
<div class="regionDetailContent {{detailClass}}">
{{#unless data}}
{{#if (eq sections 'list')}}
{{#if filter}}
<div>{{localize "REGIONS.no-search-results"}}</div>
{{else}}
<div>{{localize "REGIONS.no-items-associated"}}</div>
{{/if}}
{{else}}
<div>{{localize "REGIONS.no-items-associated"}}</div>
{{/if}}
{{else}}
{{#each data}}
<div data-category-id="{{id}}">
    <div class="regionsCategoryHeader">
        <button type="button" data-category-id="{{id}}" data-action="toggle-collapse"><i
                class="fas fa-caret-square-down"></i></button>
        <label class="regionsCategoryName" data-category-id="{{id}}">{{name}}</label>
        {{#unless (eq ../sections 'list')}}
        {{#unless (eq id null)}}
        <i data-action="delete-category" class="fas fa-trash" title="{{localize "REGIONS.CATEGORY.delete"}}"></i>
        {{/unless}}
        {{/unless}}
    </div>
    <div class="regionsCategoryContent">
        {{#each documents}}
        <div class="flexrow regionDocument regionsClickableLink" data-detail-id="{{id}}">
            <input type="hidden" name="regionDocumentID" value="{{id}}" />
            <div class="regionsFlex1 {{#unless (eq ../../sections 'list')}}regionsDraggable{{/unless}}" data-action="{{../../sections}}">
                <img src="{{foundryIMG}}" />
            </div>
            {{#if ../../editable}}
            <label class="regionsFlex4 {{#unless (eq ../../sections 'list')}}regionsDraggable{{/unless}}" data-action="view">{{#if compendiumKey}}<i title="{{localize "REGIONS.from-compendium"}}"
                    class="fas fa-atlas regionDetailCompendium regionFromCompendium"></i>{{/if}}{{foundryName}}</label>
            <textarea class="regionsFlex4 regionDescription" type="text" data-dtype="String" title="{{localize "REGIONS.TOOLTIP.description"}}" {{#if (eq ../../sections 'list')}}disabled readonly{{/if}}
                placeholder="{{localize "REGIONS.no-description"}}" {{#unless (eq ../../sections 'list')}}name="regionDescription-{{id}}"{{/unless}}>{{description}}</textarea>
            {{else}}
            <label class="regionsFlex7 regionsClickableLink" data-action="view"><i title="{{localize "REGIONS.from-compendium"}}"
                    class="fas fa-atlas regionDetailCompendium {{#if compendiumKey}}frFromCompendium{{/if}}"></i>{{foundryName}}</label>
            {{/if}}
            {{#unless (eq ../../sections 'list')}}
            <div class="regionsFlex1">
                <button type="button" data-action="deleteAssociation"><i class="fas fa-trash"></i></button>
            </div>
            {{/unless}}
        </div>
        {{/each}}
    </div>
</div>
{{/each}}
{{/unless}}
</div>