/* Shortcuts */
.regionsFlex1 {
    flex-grow: 1;
}

.regionsFlex2 {
    flex-grow: 2;
}

.regionsFlex3 {
    flex-grow: 3;
}

.regionsFlex4 {
    flex-grow: 4;
}

.regionsFlex5 {
    flex-grow: 5;
}

.regionsFlex6 {
    flex-grow: 6;
}

.regionsFlex7 {
    flex-grow: 7;
}

.regionsFlex7 {
    flex-grow: 8;
}

.regionsFlex9 {
    flex-grow: 9;
} 

/** Regions Icon **/
.regionsNavigationButton {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: var(--navibuttonsize, 34px);

    > i {
        margin-right: 0px;
    }

    &:hover, &:focus {
        box-shadow: none;
        text-shadow: 0 0 5px red;
    }
}

/* General Use */
.regionsClickableLink {
    &:hover {
        text-shadow: 0px 0px 12px #484;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 6px;
    }

    * {
        cursor: pointer;
    }

    &:hover {
        text-shadow: 0px 0px 12px #484;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 6px;
    }

    &:hover * {
        cursor: pointer;
    }
}

.regionInput {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.regionsImage {
    max-width: 54px;

    > img {
        width: 48px;
        border: 0px;
        display: inline-block;
        vertical-align: middle;
    }
}

.regionNotes {
    height: 500px;
    overflow-y: auto;

    .editor {
        height: 100%;
    }

    .tox {
        height: 100%;
        min-height: 100%;
    }
}

.regionsConfirmDialog {
    .dialog-buttons {
        .dialog-button {
            line-height: normal;
        }
    }
}

.regionsColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.regionsContentRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > button {
        width: auto;
        padding: 2px 20px;
    }
}

/** Headers **/
.regions button {
    cursor: pointer;
}

div.regionsHeaderButtons {
    height: 32px;
    display: flex;

    i {
        padding-right: 5px;
    }
}

.regionsDetailTabHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > label {
        display: flex;
        width: 40%;
        align-items: center;

        > select {
            margin-left: 8px;
        }
    }

    > span {
        display: flex;
        width: 40%;
    }

    &.regionsCustomTagsHeader {
        > div.regionsCustomTagSelections {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            > label {
                max-width: 200px;
                margin-right: 4px;
            }
        }

        > span {
            width: 70%;    
        }
    }

    > button {
        width: 25%;
    }
}

/** Categories **/
.regionsCategoryHeader {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: calc(100% - 2px);

    > i {
        margin-right: 16px;
        cursor: pointer;

        &:hover, &:focus {
            box-shadow: none;
            text-shadow: 0 0 5px red;
        }
    }

    > button {
        border: none;
        background: transparent;
        width: 24px;
        flex: 0;

        > i {
            margin-right: 0px;
        }
    }

    > label {
        width: 100%;
    }

    > h3 {
        margin: 0;   
    }
}

/** Category Lists **/
.regionsCategoryContent {
    width: calc(100% - 8px);

    > div:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

/** Form Specific **/
/* Region Overview */
#regionsOverview {
    .window-content {
        overflow-y: hidden;
    }

    button {
        > i.fas {
            margin: 0px;
        }
    }
}

.regionsOverviewList {
    max-height: 450px;
    overflow-y: auto;
}

.regionsList {
    margin-top: 0px;
    padding: 0px;

    > li {
        height: 48px;
        line-height: 48px;
        padding: 2px 0px;
        border: 1px solid rgba(0,0,0,0);

        &:hover {
            .regionsListOptions {
                visibility: visible;
            }
        }

        .regionsListOptions {
            margin-right: 3px;
            text-align: right;
            height: 32px;
            display: inline-block;
            vertical-align: middle;
            visibility: hidden;
        }

        button {
            width: auto;
            background: none;
            border: none;
            padding: 0px 6px;
        }

        label {
            line-height: 48px;
        }
    }
}

/* Region Detail */
.regionDetail {
    width: 800px;
    height: 680px;
    overflow-y: hidden;

    .regionDetailInfo {
        display: flex;
        align-items: center;

        label {
            display: inline-block;
            white-space: nowrap;
            margin-right: 6px;

            &:not(:last-child) {
                border-right: 1px solid #aaa;
                padding-right: 4px;
                box-shadow: 1px 0px #dedede;
            }

            input {
                vertical-align: middle;
                margin-left: 0px;
            }

            span {
                vertical-align: middle;

                > i {
                    margin-right: 4px;
                }
            }
        }

        .regionsTemplateLink {
            > span:hover {
                cursor: pointer;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .regionInfoContent {
        display: flex;

        .regionList {
            flex: 3;
            height: 534px;
            max-width: 390px;
            border-right: 1px solid #aaa;
            box-shadow: 1px 0px #dedede;

            .regionListResults {
                overflow-y: auto;
                height: 500px;
            }
        }

        .regionSearchBar {
            align-items: center;

            > span {
                > input {
                    margin-right: 9px;
                    width: calc(100% - 84px);
                }

                > button {
                    width: 32px;
                }
            }
        }

        .regionSearchBar {
            > h3 {
                margin-bottom: 0px;
                font-size: 1em;
                margin-right: 4px;
            }
        }

        .regionsNotesEditor {
            flex: 3;
            height: 534px;
            max-width: 390px;
        }
    }

    .regionContent {
        overflow-y: hidden;
        height: 602px;
    }

    .regionDetailContent {
        height: 542px;
        overflow-y: auto;

        .regionDocument {
            align-items: center;
            padding: 4px 0px;
            margin: 4px 0px;

            img {
                max-height: 32px;
                max-width: 32px;
                border: 0px;
                vertical-align: middle;
            }
        }

        &.regionScenes .regionDocument  img {
            max-width: 90px;
            max-height: 30px;
            margin-right: 4px;
        }

        .regionsCustomTag {
            vertical-align: top;
            width: 100%;
            padding: 4px;
            margin: 0px 0px 4px 0px;
            display: flex;
            align-content: center;
            align-items: center;

            > .regionsCustomTagDragger {
                margin-right: 6px;
            }

            .regionsCustomTagHeader {
                margin-right: 6px;
                width: 20%;
                max-width: 20%;
            }

            .regionsCustomTagHeader {
                label {
                    flex: 7;
                    font-weight: bold;
                    font-size: 1.1em;
                }
            }

            .regionsCustomOptions {
                margin-left: 6px;

                i {
                    margin: 0px 4px;
                    cursor: pointer;
                }
            }

            .regionsCustomTagData {
                display: block;
                flex: 9;
            }
        }
    }

    .regionList {
        .regionDetailContent {
            height: auto;
        }
    }

    .regionDescription {
        height: 100%;
        margin-right: 4px;
        resize: none;
        min-height: auto;
    }
}

i.regionFromCompendium {
    visibility: visible;
}

.regionDetailCompendium {
    visibility: hidden;
    padding-right: 6px;
}

/** Templates **/
.regionsEditTemplateDialog {
    > .window-content {
        overflow-y: hidden;
    }

    .regionsTemplateDescription {
        select {
            width: calc(40% - 11px);
            margin-right: 6px;
        }

        input:last-child {
            width: 60%;
        }
    }
}

.regionsTemplateHeader {
    display: flex;
    padding-top: 5px;
    justify-content: space-evenly;

    > label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        width: 25%;

        > select {
            width: 100%;
        }
    }

    > button {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        line-height: inherit;
        width: 24%;
    }
}

.template-tags {
    max-height: 416px;
    height: 416px;
    overflow-y: auto;
}

.regionsEditTemplateForm {
    span.regionsTableListOptions {
        margin-right: 5px;
    }
}

/** Custom Tags **/
#regionsCustomTagManager {
    .regionsTableListOptions {
        min-width: 60px;
    }
}

.regionsCustomTag {
    .regionsCustomTagData {
        .regionsSlider {
            border-left: 1px solid #aaa;
            border-right: 1px solid #aaa;
            position: relative;
            padding-bottom: 2px;
            margin-bottom: 4px;

            span {
                position: absolute;
                top: 12px;
                font-size: 1rem;
            }

            span:nth-child(even) {
                left: 0;
            }

            span:nth-child(odd) {
                right: 0;
            }
        }

        .regionsCustomTagNumeric {
            display: flex;
            text-align: center;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            button {
                width: 32px;
                padding: 0;
                cursor: pointer;

                &:first-child {
                    left: 4px;
                }

                &:last-child {
                    right: 4px;
                }
            }
        }
    }
}

.custom-resource-options {
    > div {
        display: flex;
        align-items: center;
    }

    button {
        width: 32px;
        padding: 0px;

        i {
            margin: 0px;
        }
    }

    ul {
        list-style-type: none;
        padding: 0px;

        li {
            display: flex;
            align-items: center;
        }
    }
}

/** Table Lists **/
.regionsTableListHeader {
    display: flex;
    place-content: center space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    label {
        font-weight: bold;
        flex: 1;
    }

    .fas {
        margin: 0px;
    }

    > :first-child {
        min-width: 13px;
    }
}

.regionsTableList {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    max-height: 470px;
    overflow-y: auto;

    li {
        margin: 0px;
        padding: 5px 0px;
        flex: 1 1 25px;
        display: flex;
        align-items: center;
        place-content: center space-between;
        flex-flow: row nowrap;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        > * {
            margin-right: 2px;
        }

        &:last-child {
            border-bottom: none;
        }

        &:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.05);
        }

        > img {
            width: 24px;
        }

        label {
            flex: 1;
        }

        i {
            margin: 0px 2px;
            cursor: pointer;
        }

        i.fa-grip-vertical {
            cursor: grab;
        }
    }

    > .regionsCustomTag {
        > span {
            margin-left: 10px;
        }
    }
}

.regionsTableListOptions {
    > button {
        line-height: 21px;
    }
}

#regionsCategoriesManager {
    .regionsTableList {
        .regionsCategory {
            > input {
                width: calc(100% - 40px);
            }
        }
    }
}

/* Compendium Import */
.regionsImportCompendiumContent {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    .regionsImportCompendiumSelection {
        text-align: center;
    }

    .regionsImportCompendiumPreview {
        max-height: 350px;
        height: 350px;
        overflow-y: auto;

        > ul {
            list-style-type: none;

            > li {
                display: flex;
                align-items: center;
                padding: 2px 0px;

                &:nth-child(even) {
                    background-color: rgba(0, 0, 0, 0.05);
                }

                > img {
                    width: 42px;
                    height: 42px;
                    border: none;
                    margin-right: 8px;
                }
            }
        }
    }
}

/* Base Context Menu */
#foundryRegionsEditor {
    > nav#context-menu {
        > ol.context-items {
            > li.context-item {
                text-align: left;
                border-bottom: 1px solid rgba(255,255,255,0.4);
                line-height: normal;
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 120px;
                max-width: 240px;
                text-overflow: ellipsis;

                &:last-child {
                    border-bottom: none;
                }

                span.context-container {
                    display: flex;
                    align-items: center;
                    margin: 4px 0px;

                    > img {
                        padding-right: 4px;
                        height: 28px;
                        border: none;
                    }

                    > span {
                        max-width: 70px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow-x: hidden;
                    }

                    &.regionsNoRegionDefined {
                        > span {
                            max-width: 120px;
                        }
                    }
                }
            }
        }
    }
}

/* Backups Management */

.regionsBackupsAllExport {
    margin-bottom: 4px;

    > .regionsContentRow {
        margin-bottom: 4px;

        > button {
            padding: 1px 6px;
        }
    }

    ul {
        max-height: 400px;
        overflow-y: auto;
    }

    > h4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.regionsLocalBackupTable {
    > table {
        border-bottom: none;
    }

    tbody {
        max-height: 300px;
        overflow-y: auto;
        display: block;
    }

    tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    button {
        width: auto;
    }

    th:nth-child(1), td:nth-child(1) {
        text-align: left;
    }

    th:nth-child(1) {
        > label {
            padding-left: 4px;
        }
    }

    th:nth-child(2), td:nth-child(2) {
        text-align: center;
    }

    th:nth-child(3), td:nth-child(3) {
        text-align: right;
    }

    th:nth-child(3) {
        > label {
            padding-right: 4px;
        }
    }
}

.regionsBackupsManualImportSelection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 4px;

    > input {
        width: 70%;
    }

    > button {
        width: auto;
    }
}

.regionsBackupsTemplatesImport {
    > h4 {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        > button {
            width: auto;
        }
    }
}